<!DOCTYPE html>
<html>
<head>
<title>To Do List</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="box" id="heading">
        <% if(kindOfDay=="Saturday" || kindOfDay=="Sunday"){%>
            <h1 style="color: paleturquoise;"><%=kindOfDay  %> </h1>
        <% }else{ %>
            <h1 style="color: ghostwhite;"><%=kindOfDay  %> </h1>
        <% } %>
    </div>

<div class="box">
    
        <% newListItems.forEach(function(item){ %>
            <form action="/delete" method="post">
                <div class="item" >
                    <input type="checkbox" name = "checkbox" value="<%=  item._id%>"   onChange="this.form.submit()">
                    <p> <%=item.name%></p>
                </div>
                <input type="hidden" name="listName" value="<%=kindOfDay %>" ></input>
            </form>

        <%})%>


    <form  class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%=kindOfDay %>">+</button>
    </form>
    
</div>






</body>
</html>